<div class="background">
</div>
<!-- Fixed Search Input -->
<div class="fixed-search col-lg-12 col-md-6 col-sm-12">
    <input type="text" [(ngModel)]="searchQuery" (keyup)="searchProducts()" placeholder="Search by title"
        class="search-input">
</div>

<!-- Scrollable Content -->
<div class="container p-4">
    <div class="row" style="margin-top: 2.7rem;">
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let data of outputArray; let i = index">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ data.title }}</h5>
                    <p class="card-text" [innerHTML]="data.body | slice:0:100"></p>
                    <div>
                        <p><br>{{ data.date }}</p>
                    </div>
                    <button class="button-89" role="button" (click)="showMore(data)"><span class="text"> Read
                            more</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
